// Basic reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    background: black;
    font-family: 'Rubik', sans-serif;
}

.login-form {
    background: #fff;
    width: 500px;
    margin: 65px auto;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
    h1 {
        padding: 35px 35px 0 35px;
        font-weight: 300;
    }
    .content {
        padding: 35px;
        text-align: left;
    }
    .input-field {
        padding: 12px 5px;
        input {
            font-size: 15px;
            // display: block;
            font-family: 'Rubik', sans-serif;
            width: 50%;
            padding: 10px 0px;
            border: 0;
            border-bottom: 1px solid #747474;
            outline: none;
            transition: all .2s;
            &::placeholder {
                text-transform: uppercase;
            }
            &:focus {
                border-color: #222;
            }
        }
    }
    a.link {
        text-decoration: none;
        color: #747474;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        display: inline-block;
        margin-top: 20px;
    }
    .action {
        display: flex;
        flex-direction: row;
        button {
            width: 100%;
            border: none;
            padding: 18px;
            font-family: 'Rubik', sans-serif;
            cursor: pointer;
            text-transform: uppercase;
            background: #e8e9ec;
            color: black;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 0;
            letter-spacing: 0.2px;
            outline: 0;
            transition: all .3s;
            &:hover {
                background: grey;
            }
            &:nth-child(2) {
                background: #2d3b55;
                color: #fff;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 4px;
                &:hover {
                    background: #3c4d6d;
                }
            }
        }
    }
}