<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>About Us</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/assets1/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="../static/assets1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets1/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/assets1/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/assets1/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/assets1/css/themify-icons.css">
    <link rel="stylesheet" href="../static/assets1/css/nice-select.css">
    <link rel="stylesheet" href="../static/assets1/css/audioplayer.css">
    <link rel="stylesheet" href="../static/assets1/css/flaticon.css">
    <link rel="stylesheet" href="../static/assets1/css/gijgo.css">
    <link rel="stylesheet" href="../static/assets1/css/animate.css">
    <link rel="stylesheet" href="../static/assets1/css/slick.css">
    <link rel="stylesheet" href="../static/assets1/css/slicknav.css">
    <link rel="stylesheet" href="../static/assets1/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="index">
                                        <img src="../static/assets1/img/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="active" href="index">Home</a></li>
                                            <li><a class="active" href="{% url 'public_song' %}">Public songs</a></li>
                                            <li><a class="active" href="{% url 'add_song' %}">Add songs</a></li>

                                            {% if request.user.is_authenticated %}
                                            <li> <a href="{% url 'my_song' %}">My Songs</a></li>
                                            {% endif %}

                                            <li><a href="{% url 'about' %}">About</a></li>
                                            <li><a href="{% url 'track' %}">Tracks</a></li>

                                            {% if request.user.is_authenticated %}
                                            <li><a href="{% url 'signout' %}">Sign out </a>
                                            </li>
                                            {% else %}
                                            <li><a href="{% url 'loginnew' %}">Login / Sign Up </a>
                                            </li>
                                            {% endif %}



                                        </ul>
                                    </nav>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="bradcam_area breadcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>About US</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->


    <!-- about_area  -->
    <div class="about_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 col-md-6">
                    <div class="about_thumb">
                        <img class="img-fluid" src="../static/assets1/img/about/tc.jpeg" alt="" style="box-shadow: 0 0 11px rgba(33,33,33,.2); border-radius: 50%; height: 350px; width: 350px;">
                    </div>
                </div>
                <div class="col-xl-7 col-md-6">
                    <div class="about_info">
                        <h3>Tapan Savani</h3>
                        <p>Tapan Savani is a student at IIIT Vadodara doing B.Tech in computer science engineering. Ever since he was in the school, he has interested in spreading the knowledge to the people. His main purpose is to offer enough guidance
                            and resist people to be fooled.</p>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="social_icon text-right">

                                <a href="https://www.linkedin.com/in/tapan-savani-843a74194/" target=”_blank”> <i class="fa fa-linkedin fa-lg"></i> </a>

                                <a href="https://github.com/stapan17" target=”_blank”> <i class="fa fa-github fa-lg" style="padding-left: 1em;"></i> </a>

                                <a href="mailto:savanitapan2001@gmail.com" target=”_blank”> <i class="fa fa-instagram fa-lg" style="padding-left: 1em;"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-xl-5 col-md-6">
                        <div class="about_thumb">
                            <img class="img-fluid" src="../static/assets1/img/about/tun.jpeg" alt="" style="box-shadow: 0 0 11px rgba(33,33,33,.2); border-radius: 50%; height: 350px; width: 350px;">
                        </div>
                    </div>
                    <div class="col-xl-7 col-md-6">
                        <div class="about_info">
                            <h3>Rushi Javiya</h3>
                            <p>Rushi Javiya is currently doing B.Tech at IIIT Vadodara and always interested in challenges. He believes mindfulness in the workplace is the key to success. He is always interested in exploring new thing and spreading tech
                                Knowledge to tech enthusiastic.</p>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="social_icon text-right">

                                    <a href="https://www.linkedin.com/in/rushi-javiya-6286a91b5/" target=”_blank”> <i class="fa fa-linkedin fa-lg"></i> </a>

                                    <a href="https://github.com/Rushijaviya" target=”_blank”> <i class="fa fa-github fa-lg" style="padding-left: 1em;"></i> </a>

                                    <a href="https://instagram.com/rushi_javiya?utm_medium=copy_link" target=”_blank”> <i class="fa fa-instagram fa-lg" style="padding-left: 1em;"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-xl-5 col-md-6">
                            <div class="about_thumb">
                                <img class="img-fluid" src="../static/assets1/img/about/man.jpg" alt="" style="box-shadow: 0 0 11px rgba(33,33,33,.2); border-radius: 50%; height: 350px; width: 350px;">
                            </div>
                        </div>
                        <div class="col-xl-7 col-md-6">
                            <div class="about_info">
                                <h3>Manthan Ghasadiya</h3>
                                <p>Manthan Ghasadiya is currently doing B.Tech CSE at IIITVadodara. He is interested in working with different Operating Systems, solve their different errors and share those solutions with others. His main purpose is to get
                                    as much knowledge as possible and spread that knowledge with others.</p>
                                <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                    <div class="social_icon text-right">

                                        <a href="https://www.linkedin.com/in/manthan-ghasadiya-6322bb1a0/" target=”_blank”> <i class="fa fa-linkedin fa-lg"></i> </a>

                                        <a href="https://github.com/manthanghasadiya" target=”_blank”> <i class="fa fa-github fa-lg" style="padding-left: 1em;"></i> </a>

                                        <a href="https://instagram.com/g_m_j_27_03?utm_medium=copy_link" target=”_blank”> <i class="fa fa-instagram fa-lg" style="padding-left: 1em;"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-xl-5 col-md-6">
                                <div class="about_thumb">
                                    <img class="img-fluid" src="../static/assets1/img/about/dd.jpeg" alt="" style="box-shadow: 0 0 11px rgba(33,33,33,.2); border-radius: 50%; height: 350px; width: 350px;">
                                </div>
                            </div>
                            <div class="col-xl-7 col-md-6">
                                <div class="about_info">
                                    <h3>Devang Delvadiya</h3>
                                    <p>Devang Delvadiya is currently doing B.Tech CSE at IIITVadodara. His field of interest is gaining knowledge in different technical situation and analysing it. He is interested in giving knowledge to tech enthusiastic.
                                        His experience to provide a perfect content to the people. </p>
                                    <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                        <div class="social_icon text-right">

                                            <a href="https://www.linkedin.com/in/devang-delvadiya-b051651b1/" target=”_blank”> <i class="fa fa-linkedin fa-lg"></i> </a>

                                            <a href="https://github.com/devangdelvadiya" target=”_blank”> <i class="fa fa-github fa-lg" style="padding-left: 1em;"></i> </a>

                                            <a href="https://instagram.com/devang_delvadiya?utm_medium=copy_link" target=”_blank”> <i class="fa fa-instagram fa-lg" style="padding-left: 1em;"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- contact_rsvp -->
    <!-- <div class="contact_rsvp">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="text text-center">
                        <h3>Contact For RSVP</h3>
                        <a class="boxed-btn3" href="contact">Contact Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--/ contact_rsvp -->
    <!-- footer start -->
    <footer class="footer">
        <!-- <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Services
                            </h3>
                            <div class="subscribe-from">
                                <form action="#">
                                    <input type="text" placeholder="Enter your mail">
                                    <button type="submit">Subscribe</button>
                                </form>
                            </div>
                            <p class="sub_text">Esteem spirit temper too say adieus who direct esteem esteems luckily.</p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-md-5 offset-xl-1">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Contact Me
                            </h3>
                            <ul>
                                <li><a href="#">conbusi@support.com
                                    </a></li>
                                <li><a href="#">+10 873 672 6782
                                    </a></li>
                                <li><a href="#">600/D, Green road, Kings Garden NewYork-6732</a></li>
                            </ul>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class=" fa fa-facebook "></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-7 col-md-6">
                        <p class="copy_right">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | This Website is made with<i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="" target="_blank">Debug Thugs</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="col-xl-5 col-md-6">
                        <div class="footer_links">
                            <ul>
                                <li><a href="{% url 'home' %}">home</a></li>
                                <li><a href="{% url 'about' %}">about</a></li>
                                <li><a href="{% url 'track' %}">tracks</a></li>
                                <li><a href="{% url 'contact' %}">contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->


    <!-- link that opens popup -->

    <!-- JS here -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="../static/assets1/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="../static/assets1/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../static/assets1/js/popper.min.js"></script>
    <script src="../static/assets1/js/bootstrap.min.js"></script>
    <script src="../static/assets1/js/owl.carousel.min.js"></script>
    <script src="../static/assets1/js/isotope.pkgd.min.js"></script>
    <script src="../static/assets1/js/ajax-form.js"></script>
    <script src="../static/assets1/js/waypoints.min.js"></script>
    <script src="../static/assets1/js/jquery.counterup.min.js"></script>
    <script src="../static/assets1/js/imagesloaded.pkgd.min.js"></script>
    <script src="../static/assets1/js/audioplayer.js"></script>
    <script src="../static/assets1/js/scrollIt.js"></script>
    <script src="../static/assets1/js/jquery.scrollUp.min.js"></script>
    <script src="../static/assets1/js/wow.min.js"></script>
    <script src="../static/assets1/js/nice-select.min.js"></script>
    <script src="../static/assets1/js/jquery.slicknav.min.js"></script>
    <script src="../static/assets1/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/assets1/js/plugins.js"></script>
    <script src="../static/assets1/js/gijgo.min.js"></script>
    <script src="../static/assets1/js/slick.min.js"></script>
    <!--contact js-->
    <script src="../static/assets1/js/contact.js"></script>
    <script src="../static/assets1/js/jquery.ajaxchimp.min.js"></script>
    <script src="../static/assets1/js/jquery.form.js"></script>
    <script src="../static/assets1/js/jquery.validate.min.js"></script>
    <script src="../static/assets1/js/mail-script.js"></script>

    <script src="../static/assets1/js/main.js"></script>

    <script>
        $(function() {
            $('audio').audioPlayer({

            });
        });
    </script>


</body>

</html>